<div class="books">
  <h1 class="center">Books</h1>
  <div class="center">
    <h2>The Next Chapter</h2>
    <div>
      <a href="https://a.co/d/d3DKjKh" >
        <img src="/assets/images/the_next_chapter_cover.png" />
      </a>
      <a href="https://a.co/d/d3DKjKh" >
        <img src="/assets/images/the_next_chapter_excerpt.png" />
      </a>
    </div>
  </div>
  <div class="center">
    <h2>Chasing Hearts</h2>
    <div>
      <a href="https://a.co/d/j54ENte">
        <img src="/assets/images/chasing_hearts_cover.png" />
      </a>
    </div>
  </div>
  <div class="center">
    <h2>Shared Hearts</h2>
    <div>
      <a href="https://a.co/d/8q0r5ys">
        <img src="/assets/images/shared_hearts_cover.png" />
      </a>
      <a href="https://a.co/d/8q0r5ys">
        <img src="/assets/images/shared_hearts_excerpt.png" />
      </a>
    </div>
  </div>
</div>
