<div class="socials">
  <div class="center">
    <a href="https://www.instagram.com/authorleighjack" target="_blank" class="fa-brands fa-instagram"></a>
    <a href="https://www.facebook.com/share/19T1gWkVKj/?mibextid=LQQJ4d" target="_blank" class="fa-brands fa-facebook"></a>
    <a href="https://www.amazon.com/author/leighjack" class="fa-brands fa-amazon"></a>
    <a href="https://www.goodreads.com/book/show/221108786-shared-hearts?from_search=true&from_srp=true&qid=To5pjenjvo&rank=1" target="_blank"><i class="fa-brands fa-goodreads"></i></a>
  </div>
</div>
