<div class="socials">
  <div class="center">
    <a href="https://www.instagram.com/authorleighjack" target="_blank" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/share/19T1gWkVKj/?mibextid=LQQJ4d" target="_blank" class="fa fa-facebook"></a>
    <a href="https://www.amazon.com/Shared-Hearts-Book-1-ebook/dp/B0DLQBZJXN/ref=mp_s_a_1_1?crid=3NYUIEWYNGD68&dib=eyJ2IjoiMSJ9.vo2adhsW2h3qNKQy5MQshW5Xj1H0zRlIXb962yEAGEXQ5O7q8qo7gVJedyxJyLGokpVBOIGRsglxgw4uCGgF9b-s73oVyQOZGi4qekMeGIfj2t_eUKoXsbrQwTNxAAmZXKrxAuAOvqznsYIdiMpo8L6_jB1ZOl1EMBMvyRHLffhfifS7mf8elRFJDHvlJ0QW0-W7SAnMEuBLhta2ltMnJA.S0xQNpOBOv1yysV15B-BjqaHdX4EW5fHk6cVc_O8Q9c&dib_tag=se&keywords=amazon+ebooks+shared+hearts&qid=1730777782&s=digital-text&sprefix=amazon+ebooks+shared+hearts%2Caps%2C78&sr=1-1" target="_blank" class="fa fa-amazon"></a>
  </div>
</div>
