.socials {
  color: #E43292;
  align-items: center;
}

.fa {
  padding: 0 20px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: #E43292;
}
