* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: white;
  color: #E43292;
  margin: 0px 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  opacity: 80%;
}

.logo {
  font-size: 1.5em;
}

.nav {
  position: relative;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-item a {
  color: #E43292;
  text-decoration: none;
  padding: 8px 12px;
  transition: background 0.3s;
}

.nav-item a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    positon: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 10px 0;
  }

  .nav-list.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    color: #E43292;
  }
}
