* {
  margin: 0;
  padding: 0;
}

.home {
  color: #E43292;
  padding: 10px 20px 50px 20px;
  display: block;
  align-items: center;

  img {
    height: 700px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .home img {
    height: 500px;
  }
}


